<div class="panel-overlay"></div>

<!-- Left Panel with Reveal effect -->
<div class="panel panel-left panel-reveal">
  <div class="list-block">
    <ul class="menu">
    </ul>
  </div>
</div>

<div class="views">
  <div class="view view-main">
    <div class="pages">
      <div class="page" data-page="index">
        <div class="page-content">
          <% @cities.each do |c| %>
            <a href="/s/<%= c.prefecture %>/<%= c.name %>"><p class="city"><%= c.name %></p></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
