@import "colors";

.city {
  width: 90%;
  margin: 10px auto;
  background: #fff;
  padding: 10px;
  text-align: center;
  color: #333;
}

.list-group-title.restaurant-name {
  p {
    font-size: 110%;
  }

}

.restaurant-info {
  .table {
    .th {
      background: $tsukemen;
      color: #fff;
      padding-left: 5px;
    }
    .tr {
      padding-left: 5px;
    }
  }
}
