@import "colors";

.page-content {
  background: image-url("bg.jpg");
  .main-area {
    .main-copy {
      &.sp {
        margin-top: 75px;
      }
      &.pc {
        margin-top: 45px;
      }
      text-align: center;
      margin: 0;
    }
    .search {
      text-align: center;
      .left {
        display: inline-block;
        vertical-align: middle;
        img {
          width: 90%;
        }
      }
      .right {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 50px;
        p {
          color: #fff;
          font-size: 20px;
          text-align: center;
          input {
            height: 10px;
            width: 210px;
            padding: 10px;
            font-size: 18px;
          }
          button {
            background: #fff;
            border: none;
            width: 234px;
            color: $tsukemen;
            padding: 5px;
            font-size: 18px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .sub-area {
    background: #fff;
    .subs {
      text-align: center;
      .sub {
        margin: 25px;
        display: inline-block;
        width: 280px;
        .sub-copy {
          font-size: 21px;
          padding-bottom: 10px;
          border-bottom: solid 2px $tsukemen; 
        }
        .sub-text {
          font-size: 13px;
        }
      }
    }
  }
  .areas {
    width: 100%;
    .prefecture {
      p {
        text-align: center;
        width: 80%;
        padding: 10px;
        margin: 10px auto;
        background: #fff;
        color: $tsukemen;
      }
    }
  }
}

.sp {
  display: block;
}
.pc {
  display: none;
}

@media only screen and (min-width: 800px) {
  .sp {
    display: none;
  }
  .pc {
    display: block;
  }
}
