<!DOCTYPE html>
<html>
<head>
  <title>管理ページ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.png' %>
</head>
<body>
<%= yield %>
</body>
</html>
